/* GERAL */
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: #FDFDFD;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover {
    background-color: #102f5e;
    color: #FFF;
}

button:hover i {
    color: #FFF;
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
    /* o ícone está por cima do botão, então colocando isso, quando o usuário clicar no ícone, vai ser como se estivesse clicando no botão */
}

input,
select {
    padding: .25rem .5rem;
}

.hide {
    display: none;
}

/* ToDo Header */
.todo-container {
    max-width: 450px;
    margin: 10rem auto;
    background-color: #FDFDFD;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* ToDo Form */
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .5rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* ToDo Toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .5rem;
}

#filter {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* ToDo List */
.todo {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: .5rem; */
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
    /* min-width: 0; */
    /* permite que o texto quebre quando dentro de um flex container */
    /* overflow-wrap: anywhere; */
    /* força a quebra de palavras longas quando necessário */
    padding-right: .25rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}